{% assign projects = site.data.projects | concat: site.projects %}
{% for project in projects %}
    {%- if project.pos And project.pos != "" And project.pos != nil -%}
        <a-box 
            height="1.2"
            width=".6"
            depth=".6"
            position={{project.pos}}
            rotation={{project.rotation}} 
            color="#dddddd" 
            shadow
        ></a-box>
        {%- assign link_id = 'link-text-' | append: forloop.index -%}
        {% assign box_id = 'link-box-' | append: forloop.index %}
        {% assign item_pos = project.pos | split: " " %}
        {%- assign new_pos = item_pos[0] | append: ' 1.5 ' | append: item_pos[2] -%}
        
        {%- assign no_quote = project.pos | remove: '"' -%}
        {%- assign split_quote = no_quote | split: " " -%}
        {%- assign up_pos = split_quote[0] | append: ' 1.7 ' | append: split_quote[2] -%}
        <a-entity 
            visible="false"
            id={{link_id}}
            look-at="#camera"
            width=".6" 
            depth=".6" 
            height="3" 
            position={{new_pos}}
            rotation="0 45 0"
            text="width: 1.5; font: exo2bold; zOffset: .3; anchor: center; align: center; color: black; value: {{project.author}}\n{{project.title}}\n(click)" 
        ></a-entity> 
        {% assign hyperlink = project.url | relative_url | append: project.hyperlink %}
        <a-box
            src={{project.img | relative_url}}
            id={{box_id}}
            class="clickable"
            clicklink="href: {{hyperlink}}"
            proxtext="message: {{project.author}}\n{{project.title}}\n(click)" 
            height=".3"
            width=".3"
            depth=".3"
            color="#FFB8A0"
            position={{new_pos}}
            rotation="0 0 0"
            animation="property: rotation; to: 0 360 0; loop: true; dur: 5000; easing: linear"
            animation__rotate="property: position; to: {{up_pos}}; loop: true; dir: alternate; easing: easeInOutQuad"
            animation__color="property: color; to: #FFF3A0; loop: true; dir: alternate; easing: linear"
            shadow
        ></a-box>
        <a-box
            height=".45"
            width=".45"
            depth=".45"
            material="side: double; color: #BBBBBB; transparent: true; opacity: 0.2"
            position={{new_pos}}
            rotation="45 0 45"
            animation="property: rotation; to: 45 360 45; loop: true; dur: 5000; easing: linear"
            animation__2="property: position; to: {{up_pos}}; loop: true; dir: alternate; easing: easeInOutQuad"
            shadow
        ></a-box>
    {%- endif -%}
{% endfor %}