{% for project in site.data.projects %}
    {%- if project.pos And project.pos != "" And project.pos != nil -%}
        <a-box 
            height="1.5"
            width=".8"
            depth=".8"
            id="box" 
            position={{project.pos}}
            rotation={{project.rotation}} 
            color="#dddddd" 
            shadow
        ></a-box>
        <a-box
            proxlink="href: index.html; dist: 2.13"
            height=".4"
            width=".4"
            depth=".4"
            color="#EF2D5E"
            position="3 1.8 -3"
            rotation="0 0 0"
            animation="property: rotation; to: 0 360 0; loop: true; dur: 5000; easing: linear"
            animation__2="property: position; to: 3 2 -3; loop: true; dir: alternate; easing: easeInOutQuad"
            shadow
        ></a-box>
        <a-entity 
            look-at="#camera"
            prox="dist: 2.1; message: check out my project!\n(click)" 
            width=".8" 
            depth=".8" 
            height="3.6" 
            position="3 1.8 -3" 
            rotation="0 45 0"
            text="width: 1.6; font: exo2bold; zOffset: .45; anchor: center; align: center; color: black" 
        ></a-entity> 
    {%- endif -%}
{% endfor %}