---
---

h2 {
    font-family: 'Terminal Grotesque', Helvetica, Arial, sans-serif;
}

.Exhibit__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Exhibit__link {
    font-size: 50px;
    margin: 20px;
}

.Exhibit__splash {
    align-items: center;
    background-color: #ffffff;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
}