---
---
@font-face {
    font-family: 'Terminal Grotesque';
    src: url({{'assets/fonts/terminal-grotesque-webfont.eot' | relative_url}});
    src: url({{'assets/fonts/terminal-grotesque-webfont.eot?#iefix' | relative_url}}) format('embedded-opentype'),
         url({{'assets/fonts/terminal-grotesque-webfont.woff2' | relative_url}}) format('woff2'),
         url({{'assets/fonts/terminal-grotesque-webfont.woff2' | relative_url}}) format('woff2'),
         url({{'assets/fonts/terminal-grotesque-webfont.woff' | relative_url}}) format('woff'),
         url({{'assets/fonts/terminal-grotesque-webfont.ttf' | relative_url}}) format('truetype');
}