---
---

@keyframes slide_in_left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide_in_right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 100%;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Terminal Grotesque', Helvetica, Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 28px;
}

.Page__intro {
    display: flex;
    flex-direction: column;
    padding: 2px 20px 20px;
}


.Page__wrapper {
    width: 100%;
}

.Header__wrapper {
    margin: 20px 0 0;
}

.Header__image {
    max-width: 100px;
    max-height: 100px;
}

.Header__inner {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 30px;
}

.Header__title {
    color: black;
    display: inline-block;
}

.Home__description {
    max-width: 700px;
    margin: 0 15px 100px;
}

.Content__wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px;
    max-width: 100%;
    overflow: hidden;
}

.Project__wrapper__left {
    border: 1px solid black;
    margin: 15px;
    max-width: 1000px;
    align-self: flex-start;
    animation: 1s ease-out 0s 1 slide_in_left;

    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}

.Project__wrapper__right {
    border: 1px solid black;
    margin: 15px;
    max-width: 1000px;
    align-self: flex-end;
    animation: 1s ease-out 0s 1 slide_in_right;

    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}

.Project__head {
    padding: 10px;
    padding-right: 55px;
    position: relative;
    border-bottom: 1px solid black;
}

.Project__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.Project__content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Project__description {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
}

.Project__img {
    max-width: 100%;
}

.Project__img__container {
    align-items: center;
    display: flex;
    filter: grayscale(100%);
    flex: 0 1 50%;
    justify-content: center;
    margin: 0 10px;
}

.Project__button {
    border-left: 1px solid black;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 45px;
    width: 45px;
}

.Project__spiral {
    margin: 7px;
}

.Page__comment {
    background-color: #fffdbe;
    border: 1px solid black;
    font-size: 14px;
    width: 300px;
    margin: 15px;
    padding: 10px;
    position: absolute;
}

.Page__comment-link {
    background-color: #fffdbe;
    border: 1px solid black;
}

.left {
    right: 100%;
}

.right {
    left: 100%;
}

.Page__content-inner {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.Page__header {
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.Countdown__splash {
    align-items: center;
    background-color: #ffffff;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 1;
}

.Countdown__msg {
    animation: 1.5s linear 1s infinite running pulse_animation;
}

@media (max-width: 1400px) {
    .Page__comment {
        position: relative;
        max-width: 100%;
        width: auto;
        margin: 0;
    }

    .left {
        right: 0%;
    }

    .right {
        left: 0%;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 70px;
    }
    
    .Header__inner {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10px;
        text-align: center;
    }

    .Header__wrapper {
        height: auto;
    }

    .Home__description {
        margin: 0;
    }


    .Project__wrapper__left {
        max-width: 100%;
        margin: 10px 0;
    }

    .Project__wrapper__right {
        max-width: 100%;
        margin: 0;
    }

    .Project__content {
        flex-direction: column;
    }

    .Project__img__container {
        margin: 0 0 10px;
    }

    .Project__link {
        margin: 10px 0;
        height: 25px;
    }
}
