<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href={{'/assets/css/aframe.css' | relative_url}} />
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.0/dist/aframe-extras.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
    <script src="https://recast-api.donmccurdy.com/aframe-inspector-plugin-recast.js"></script>
    <!-- <script src="//cdn.rawgit.com/donmccurdy/aframe-physics-system/v4.0.1/dist/aframe-physics-system.min.js"></script> -->
    <script src={{'/js/setup.js' | relative_url}}></script>
    {% assign COPRESENCE_URL = "https://stormy-retreat-22009.herokuapp.com" %}
    <script src="{{COPRESENCE_URL}}/socket.io/socket.io.js"></script>
    <script>
      var socket = io('{{COPRESENCE_URL}}');
    </script>
    <script src="{{COPRESENCE_URL}}/client.js"></script>
    <!-- Love, Matt & Evan -->
  </head>
  <body>
    {% assign sound_url = '/assets/background.mp3' | relative_url %}
    <audio src={{sound_url}} loop preload="auto"></audio>
    <a-scene inspector-plugin-recast background="color: #FBB">
      <a-assets>
        <img id="skyTexture" src={{'/assets/bg.jpg' | relative_url}} />
        <a-asset-item id="emoji_0" src="/assets/models/emoji_0.glb"></a-asset-item>
        <a-asset-item id="emoji_1" src="/assets/models/emoji_1.glb"></a-asset-item>
        <a-asset-item id="emoji_2" src="/assets/models/emoji_2.glb"></a-asset-item>
        <a-asset-item id="emoji_3" src="/assets/models/emoji_3.glb"></a-asset-item>
        <a-asset-item id="emoji_4" src="/assets/models/emoji_4.glb"></a-asset-item>
        <a-asset-item id="emoji_5" src="/assets/models/emoji_5.glb"></a-asset-item>
        <a-asset-item id="emoji_6" src="/assets/models/emoji_6.glb"></a-asset-item>
      </a-assets>
      <!-- <a-sky src="#skyTexture"></a-sky> -->
      <a-entity light="color: #FBB; type: ambient"></a-entity>
      <a-entity light="color: #FCB; intensity: 0.6; castShadow: true; type: point;" position="11.28605 4.5939 -12.52874"></a-entity>
       <a-entity id="rig"
                movement-controls="constrainToNavMesh: true"
                speed="0.3"
                position="0 0 0">
        <a-entity id="camera"
                  camera
                  position="0 1.6 0"
                  look-controls="pointerLockEnabled: true"
                  rotation-reader>
          <a-cursor nav-pointer hover
            raycaster="objects: .clickable; far: .6"
            position="0 0 -.3"
            geometry="primitive: ring; radiusInner: 0.002; radiusOuter: 0.0035"
                    ></a-cursor>
          <a-image 
            id="click" 
            width="0.0085" 
            height="0.013" 
            position="-0.001 0.003 -.29" 
            src={{'assets/cursor.png' | relative_url}} 
            visible="false"
          ></a-image>
        </a-entity>
      </a-entity>
      <a-entity gltf-model={{'/assets/scene_navmesh.gltf' | relative_url}} nav-mesh visible="false"></a-entity>
      <a-image src={{'assets/thanks.jpg' | relative_url}} width="0.3" height="0.35" position="2.86 0.994 -0.495" rotation="0 45 0"></a-image>
      {% include project-pedestals.html %}
      {% include scene.html %}
    </a-scene>
    <div class="Exhibit__splash" id="splash">
      <div class="Exhibit__elements">
        <img src={{'assets/vr-title.png' | relative_url}} class="Exhibit__img" />
        <h2>
        --> CONTROLS: WASD to move, mouse to look <--
        </h2>
        <h2 class="Exhibit__controls" id="plithy-msg" style="visibility: hidden;">
            OH GOD WHY DID I SPEND SO MUCH TIME ON THIS
        </h2>
        <button class="Exhibit__link" id="enter">LOADING</button>
      </div>
    </div>
    <div id="controls" style="visibility: hidden;">
      <p>express your f e e l i n g s</p>
      <div id="emoji-selector">
        <button id="emoji-selector-0" style="background-image: url(/assets/emoji_0.png)" onclick="changeEmoji(0);" class="selected"></button>
        <button id="emoji-selector-1" style="background-image: url(/assets/emoji_1.png)" onclick="changeEmoji(1);"></button>
        <button id="emoji-selector-2" style="background-image: url(/assets/emoji_2.png)" onclick="changeEmoji(2);"></button>
        <button id="emoji-selector-3" style="background-image: url(/assets/emoji_3.png)" onclick="changeEmoji(3);"></button>
        <button id="emoji-selector-4" style="background-image: url(/assets/emoji_4.png)" onclick="changeEmoji(4);"></button>
        <button id="emoji-selector-5" style="background-image: url(/assets/emoji_5.png)" onclick="changeEmoji(5);"></button>
        <button id="emoji-selector-6" style="background-image: url(/assets/emoji_6.png)" onclick="changeEmoji(6);"></button>
      </div>
    </div>
    {% include plithies.html %}
  </body>
  <script src={{'/js/main.js' | relative_url}}></script>
</html>
