<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href={{'/assets/css/aframe.css' | relative_url}} />
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.0/dist/aframe-extras.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
    <script src="https://recast-api.donmccurdy.com/aframe-inspector-plugin-recast.js"></script>
    <!-- <script src="//cdn.rawgit.com/donmccurdy/aframe-physics-system/v4.0.1/dist/aframe-physics-system.min.js"></script> -->
    <script src={{'/js/setup.js' | relative_url}}></script>
  </head>
  <body>
    {% assign sound_url = '/assets/background.mp3' | relative_url %}
    <audio src={{sound_url}} loop preload="auto"></audio>
    <a-scene inspector-plugin-recast background="color: #123456">
      <a-assets>
        <img id="skyTexture" src={{'/assets/bg.jpg' | relative_url}} />
      </a-assets>
      <a-sky src="#skyTexture"></a-sky>
       <a-entity id="rig"
                movement-controls="constrainToNavMesh: true"
                speed="0.5"
                position="0 0 0">
        <a-entity id="camera"
                  camera
                  position="0 1.6 0"
                  look-controls="pointerLockEnabled: true">
          <a-cursor nav-pointer hover
            raycaster="objects: .clickable; far: .6"
            position="0 0 -.3"
            geometry="primitive: ring; radiusInner: 0.002; radiusOuter: 0.0035"
                    ></a-cursor>
          <a-image 
            id="click" 
            width="0.0085" 
            height="0.013" 
            position="-0.001 0.003 -.29" 
            src={{'/assets/cursor.png' | relative_url}} 
            visible="false"
          ></a-image>
        </a-entity>
      </a-entity>
      <a-entity gltf-model={{'/assets/scene_navmesh.gltf' | relative_url}} nav-mesh visible="false"></a-entity>
      {% include project-pedestals.html %}
      {% include scene.html %}
    </a-scene>
    <div class="Exhibit__splash" id="splash">
      <div class="Exhibit__elements">
        <img src={{'assets/vr-title.png' | relative_url}} class="Exhibit__img" />
        <h2>
        --> CONTROLS: WASD to move, mouse to look <--
        </h2>
        <h2 class="Exhibit__controls">
        **UNDER CONSTRUCTION**
        </h2>
        <button class="Exhibit__link" id="enter">LOADING</button>
      </div>
    </div>
  </body>
  <script src={{'/js/main.js' | relative_url}}></script>
</html>