<!DOCTYPE HTML>
<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href={{'/assets/css/main.css' | relative_url}} />
    </head>
    <body>
        <h1>Coming soon! Check back May 1st...</h1>
        <div class="Page__wrapper" style="display: none">
            <div class="Header__wrapper">
                <div class="Header__inner">
                    <a href={{'/' | relative_url}}>
                        <h1 class="Header__title">{{site.title}}</h1>
                    </a>
                    <div class="Header__image-row">
                        <img class="Header__image" src={{'assets/header-icon-04.png' | relative_url}} />
                        <img class="Header__image" src={{'assets/header-icon-05.png' | relative_url}} />
                        <img class="Header__image" src={{'assets/header-icon-06.png' | relative_url}} />
                        <img class="Header__image" src={{'assets/header-icon-07.png' | relative_url}} />    
                    </div>
                </div>
            </div>
            <div class="Content__wrapper">
                {{content}}
            </div>
        </div>
    </body>
    <script src={{'/js/comment.js' | relative_url}} ></script>
</html>