<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/main.css" />
        <title>{{page.title}} - {{site.title}}</title>
    </head>
    <body>
        <div class="Page__wrapper">
            <div class="Header__wrapper">
                <div class="Header__inner">
                    <h1 class="Header__title">AHS Capstone</h1>
                </div>
            </div>
            <div class="Content__wrapper">
                {{content}}
                {% for project in site.data.projects %}
                    <div class="Project__wrapper">
                        <div class="Project__title">
                            <h2>{{project.title}} - {{project.author}}</h2>
                            <div class="Project__button">_</div>
                        </div>
                        <div class="Project__description">
                            {{project.description}}
                        </div>
                        {% if project.type == 'page' %}
                            {% assign proj_href = '/projects/' | append: project.hyperlink %}
                        {% else %}
                            {% assign proj_href = project.hyperlink %}
                        {% endif %}
                        <a href={{proj_href}}>Read More</a>

                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>