---
layout: default
---

<div class="Project__wrapper__left">
    <div class="Page__intro">
        {{content}}
        <a class="Exhibit__link" href={{'exhibit' | relative_url}}>ENTER VIRTUAL EXHIBIT</a>
    </div>
</div>

{% assign projects = site.projects | concat: site.data.projects | sort: 'author' %}
{% for project in projects %}
    {% assign idx = forloop.index | modulo: 2 %}
    {% if idx == 1 %}
        {% assign wrapper_class = 'Project__wrapper__left' %}
    {% else %}
        {% assign wrapper_class = 'Project__wrapper__right' %}
    {% endif %}

    <div class={{wrapper_class}}>
        <div class="Project__title">
            <h3>{{project.title}} - {{project.author}}</h3>
            <div class="Project__button">
                <img class="Project__spiral" src="assets/spiral.png" />
            </div>
        </div>
        <div class="Project__content">
            <div class="Project__img__container">
                <img class="Project__img" src={{project.img}} />
            </div>
            <div class="Project__description">
                {{project.description}}    
                {% assign proj_href = project.url | relative_url | append: project.hyperlink %}
                <a class="Project__link" href={{proj_href}} target="_blank">MORE</a>
            </div>
        </div>
    </div>
{% endfor %}